name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DavidAnson/markdownlint-cli2-action@v19

      - uses: codespell-project/actions-codespell@v2
        with:
          ignore_words_list: ans,ine,inh,isnt

  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs-version: [27.2, 28.2, 29.4, 30.2]
        experimental: [false]
        include:
          - os: ubuntu-latest
            emacs-version: snapshot
            experimental: true
          - os: macos-latest
            emacs-version: snapshot
            experimental: true
          - os: windows-latest
            emacs-version: snapshot
            experimental: true
        exclude:
          - os: macos-latest
            emacs-version: 27.2

    steps:
      - uses: actions/checkout@v4

      - uses: jcs090218/setup-emacs@3586c34483bee442d1293c9a428fa3da44421509
        with:
          version: ${{ matrix.emacs-version }}

      - uses: emacs-eask/setup-eask@cc250315b6a3177fa27dbb5bb6a2a9d9b90b2ef7
        with:
          version: snapshot

      - name: Run tests
        run: |
          eask install-deps
          eask package
          eask install
          eask compile


  melpazoid:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Checkout melpazoid
        uses: actions/checkout@v4
        with:
          repository: riscy/melpazoid
          path: melpazoid
          ref: af2a6bdb6dd50460c6884cdb15ed9beddd1d8c43
          fetch-depth: 1

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      - name: Install Emacs
        run: sudo apt-get install emacs && emacs --version

      - name: Install melpazoid
        run: pip install -e melpazoid

      - name: Download RECIPE file
        run: curl -o RECIPE https://raw.githubusercontent.com/melpa/melpa/master/recipes/magik-mode

      - name: Show RECIPE contents
        run: |
          cat RECIPE
          echo "RECIPE=$(tr -d '\n' < RECIPE)" >> $GITHUB_ENV

      - name: Run melpazoid
        env:
          LOCAL_REPO: ${{ github.workspace }}
          EXIST_OK: true
        run: make -C melpazoid
        continue-on-error: true
